:root {
    --ams-col-width: 20rem;
}

.app.manage-job-page .manage-job-cols-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    height: calc(90vh - 12rem);
    overflow-y: hidden;
}

.app.manage-job-page .manage-job-cols-container .manage-job-col {
    min-width: var(--ams-col-width);
    width: var(--ams-col-width);
}

.app.manage-job-page .manage-job-cols-container .manage-job-col .manage-job-col-label {
    display: flex;
    justify-content: space-between;
    padding: 8px 15px;
    align-items: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 5px solid var(--primary);
    border-bottom: 1px solid var(--light-gray);
    border-left: 1px solid var(--light-gray);
    border-right: 1px solid var(--light-gray);
    background-color: var(--light);
    font-size: 14px;
}

.app.manage-job-page .manage-job-cols-container .manage-job-col .manage-job-col-label span {
    color: var(--body);
    font-weight: 600;
}

.app.manage-job-page .manage-job-cols-container .manage-job-col .manage-job-col-label .applicants-badge {
    background: var(--light-gray);
    padding: 2px 8px;
    border-radius: 10px;
    font-size: 12px;
}

.app.manage-job-page .manage-job-cols-container .manage-job-col .manage-job-col-content {
    overflow-y: auto;
    max-height: calc(90vh - 16rem);
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 7px;
}

.app.manage-job-page .manage-job-cols-container .manage-job-col .manage-job-col-content .applicant-block {
    cursor: pointer;
    min-height: 5rem;
    display: flex;
    background-color: var(--light);
    border-radius: 6px;
    align-items: center;
    padding: 10px;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 5px;
}

.app.manage-job-page .manage-job-cols-container .manage-job-col .manage-job-col-content .applicant-block img {
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 4rem;
}

.app.manage-job-page .manage-job-cols-container .manage-job-col .manage-job-col-content .applicant-block .applicant-details {
    max-width: calc(100% - 4rem);
}

.app.manage-job-page .manage-job-cols-container .manage-job-col .manage-job-col-content .applicant-block .applicant-details .name {
    color: var(--primary);
    font-weight: 600;
    font-size: 0.9rem;
}

.app.manage-job-page .manage-job-cols-container .manage-job-col .manage-job-col-content .applicant-block .applicant-details .position {
    color: var(--body);
    font-weight: 500;
    font-size: 0.7rem;
}

@media only screen and (max-width: 680px) {
    .app.manage-job-page .manage-job-cols-container {
        max-width: calc(100% - var(--mobile-page-padding));
    }
}