:root {
    --light: #FFFFFF;
    --body: #212529;
    --primary: #0088DD;
    --light-gray: #F2F2F2;
    --body-bg: #F7FBFF;
    --page-padding: 2.75rem;
    --body-gap: 30px;
    --mobile-page-padding: 1.5rem;
}

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: var(--body-bg);
}

body.dark {
    --light: #212529;
    --body: #FFFFFF;
    --primary: #0088DD;
    --light-gray: #343434;
    --body-bg: #2D3034;
}

.app .line {
    border-right: 2px solid;
    height: 20px;
    margin: auto 7px;
}

.app .page-body {
    padding: var(--body-gap) var(--page-padding);
}

.app .styled-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.app .styled-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.app .styled-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
}

.app .styled-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media only screen and (max-width: 390px) {
    .app .page-body {
        padding: var(--body-gap) var(--mobile-page-padding);
    }
}

.app hr {
    color: var(--light-gray);
    opacity: 1;
}
