.app header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    box-shadow: 3px 0 14px -1px var(--light-gray);
    padding-inline: var(--page-padding);
    background: var(--light);
    height: 68px;
}

.app header .logo {
    background-image: url('../assets/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 5.625rem;
    height: 2.125rem
}

.app header .account-info {
    background: var(--light-gray);
    border-radius: 2rem;
    text-decoration: none;
}

.app header .account-info .profile-img {
    width: 34px;
    height: 34px;
    border-radius: 5rem;
}

.app header .account-info .name {
    color: var(--body);
    font-weight: 500;
}

.app header .account-dropdown-menu .dropdown-img {
    width: 4rem;
    height: 4rem;
    border-radius: 5rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 5px 1px;
    border: 2px solid rgba(0, 0, 0, .05);
}

.app header .account-dropdown-menu {
    min-width: 22rem;
    border-radius: 6px;
    padding: 11px 16px;
    background: var(--light);
}

.app header .account-dropdown-menu .info-container {
    width: calc(100% - 5rem);
}

.app header .account-dropdown-menu .name {
    font-weight: 600;
    font-size: 16px;
    color: var(--body);
}

.app header .account-dropdown-menu .email {
    font-size: 12px;
    color: var(--body);
}

.app header .account-dropdown-menu .sign-out-action {
    text-decoration: none;
    color: var(--primary);
    font-weight: 600;
    font-size: 16px;
}

.app header .account-info .caret-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--body);
}

.app header .account-info span {
    font-size: 0.88rem;
}

.app .page-head {
    padding-inline: var(--page-padding);
    background-color: var(--light);
    padding-top: 84px;
}

.app .page-head .page-title span {
    font-weight: 600;
    color: var(--body);
    font-size: 1.25rem;
    white-space: nowrap;
}

.app .page-head .page-title .active {
    color: var(--primary);
}

.app .page-title {
    display: flex;
    border-bottom: 1px solid var(--light-gray);
    padding-bottom: 1rem;
}

@media only screen and (max-width: 390px) {
    .app header {
        padding-inline: var(--mobile-page-padding);
    }

    .app .page-head {
        padding-inline: var(--mobile-page-padding);
    }
}