.app .search-input {
    border: 1px solid var(--body);
    border-radius: 6px;
}

.app .search-input .search-icon {
    color: var(--body);
    font-size: 15px;
}

.app .search-input input {
    background: var(--light);
    padding: 8px;
    border: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 100%;
    font-size: 14px;
    outline: none;
}

.app .filters-section .filter-wrapper {
    position: relative;
    border-radius: 6px;
    border: 1px solid var(--body);
    cursor: pointer;
}

.app .filters-section .date-filter-wrapper {
    border: none;
}

.app .filters-section .date-filter-wrapper input {
    padding: 8px;
    border: 1px solid var(--body);
    background: var(--light);
    color: var(--body);
    border-radius: 6px;
    font-size: 14px;
}

.app .filters-section .filter-wrapper .filter-label {
    color: var(--body);
    position: absolute;
    font-size: 10px;
    background: var(--light);
    top: -6px;
    left: 8px;
    padding-inline: 3px;
}

.app .filters-section .filter-wrapper .filter-content .title,
.app .filters-section .filter-wrapper .filter-content ion-icon {
    color: var(--body);
    font-size: 14px;
}

body.dark .date-filter-wrapper input {
    color-scheme: dark;
}