.app .page-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    flex-wrap: wrap;
    gap: 20px;
}

.app .search-input {
    position: relative;
}

.app .search-input .search-icon {
    color: var(--body);
    position: absolute;
    font-size: 14px;
    top: 11px;
    left: 8px;
}

.app .search-input input {
    background: var(--light);
    padding: 8px 22px 8px 26px;
    border-radius: 6px;
    border: 1px solid var(--body);
    width: 25rem;
    font-size: 14px;
    outline: none;
}

.app .search-input input:focus {
    border-color: var(--primary);
}

.app .filters-section {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.app .filters-section .filter-wrapper {
    position: relative;
    border-radius: 6px;
    border: 1px solid var(--body);
    cursor: pointer;
    width: 9rem;
}

.app .filters-section .date-filter-wrapper {
    border: none;
}

.app .filters-section .date-filter-wrapper input {
    padding: 8px;
    border: 1px solid var(--body);
    background: var(--light);
    color: var(--body);
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
}

.app .filters-section .filter-wrapper .filter-label {
    color: var(--body);
    position: absolute;
    font-size: 10px;
    background: var(--light);
    top: -8px;
    left: 6px;
    padding-inline: 2px;
    font-weight: 500;
}

.app .filters-section .filter-wrapper .filter-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    gap: 20px;
}

.app .filters-section .filter-wrapper .filter-content .title,
.app .filters-section .filter-wrapper .filter-content ion-icon {
    color: var(--body);
    font-size: 14px;
    font-weight: 500;
}

@media only screen and (max-width: 680px) {
    .app .search-input input {
        width: 17rem;
    }

    .app .sort-by-filter {
        display: none;
    }
}

body.dark .date-filter-wrapper input {
    color-scheme: dark;
}